.mylist-page{
    width: 90%;
    display: flex;
    flex-direction: column;
    
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.page-title{
    font-family: var(--font-serif);
    color: var(--button);
    font-size: var(--fs-2xl);
}

.movie-section{
    display: flex;
    flex-direction: column;

    margin-top: 3rem;
}

.movie-section h2{
    font-family: var(--font-serif);
    color: #F0F4F8;
    font-size: var(--fs-xl);
    border-bottom: 1px groove #F0F4F8;
    box-shadow: 0 12px 40px rgba(3, 68, 125, 0.186);

}

.movies-grid{    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 280px)); 
    justify-content:space-evenly;
    gap: 2.5rem;
    padding-top: 3rem;
}   

.empty-message{
    position: relative;

    width: 50vw;
    font-family: var(--font-serif);
    font-weight: 600;
    color: #F0F4F8;
}