
.header img{
    width:60px;
    height:60px;

    border-radius:50%;
    object-fit:cover;
    background:fixed;
}

.header{
    font-family:var(--font-sans);
    font-size: 1.2rem;
    font-weight: 600;
    top: 0;
    overflow: hidden;

    width: 100vw;
    height: 8vh;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background:var(--back-shadow2);
    backdrop-filter: blur(25px);
    border-bottom: 1px solid var(--border);
    box-shadow: 0 12px 40px rgba(255,255,255, 0.05);
}

@media (max-width: 800px) {
    .header{
    font-size: 1rem;}

    .header img{
        width: 45px;
        height: 45px;
    }
}

.options-logo{
    padding-left: 5px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.search-log{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.5%;
    gap: 12px;
}

.search-form{
    display: flex;
    align-items: center;
    width: 50%;
    max-width: 300px;
    height: 100%;
}

.header .search{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60%;
    border-radius: 20px;
    border-color: var(--button);
    padding: 10px;
}

.header .search:focus{
    outline: var(--button);
    border-color: var(--border);
}

.header a{
    margin: 8px;
    color: #EBF3FA;
    text-decoration: none;
    transition: .2s;
}

.header a:hover{
    transform: scale(1.08);
    color: var(--star);
    border-color: var(--star);
}

.logout-btn{
    padding: 5px;
    font-family:var(--font-sans);
    font-size: 1.2rem;
    background-color: var(--star);
    color: var(--text);

    border-radius: 999px;
    border: none;

    transition: .2s;
}

.logout-btn:hover{
    transform: scale(1.08);
}